<template>
  <div class="LayoutDefault">
    <slot />
  </div>
</template>

<script>
export default {
  components: {},
  data: function() {
    return {
      name: "Default Page"
    };
  }
};
</script>

<style>
.LayoutDefault {
  max-width: 1920px;
  min-width: 400px;
  width: 90%;
  margin: 20px auto;
}

@media only screen and (max-width: 550px) {
  .LayoutDefault {
    width: 100%;
    margin: 0 auto;
  }
}
</style>
