<template>
  <div class="">
    <div
      class="background"
      :style="{ backgroundImage: 'url(\'' + image + '\')' }"
    ></div>
    <div class="LayoutDefault">
      <slot />
    </div>
  </div>
</template>

<script>
export default {
  components: {},
  props: {
    image: String
  },
  data: function() {
    return {
      name: "Default Page"
    };
  }
};
</script>

<style scoped>
.background {
  background: #ebebeb;
  width: 89.8%;
  height: 140px;
  margin: 0 auto;
  max-width: 1920px;
  min-width: 400px;
}
.LayoutDefault {
  max-width: 1920px;
  min-width: 400px;
  width: 90%;
  /* border: 1px solid black; */
  margin: -120px auto 20px auto;
}

@media only screen and (max-width: 550px) {
  .background {
    width: 100%;
    margin: 0 auto;
  }

  .LayoutDefault {
    width: 100%;
    margin: 0 auto;
  }
}
</style>
