<template>
  <div class="footer">
    <div class="footer-container">
      <p>&copy; Footer</p>
    </div>
  </div>
</template>

<script>
export default {
  name: "footbar"
};
</script>

<style scoped>
.footer {
  max-width: 1400px;
  min-width: 400px;
  margin: 0 auto;
  background: white;
  width: 90%;
}

.footer-container {
  font-size: 18px;
  /* border: 1px solid rgba(0, 0, 0, 0.2); */
  /* width: 100%; */
  color: black;
  text-align: center;
  padding: 5px;
}
</style>
