<template>
  <layout-default>
    <!-- <layout-default :image="coverImage"> -->
    <div class="Info">
      <div class="song">
        <h1>{{ album.title }}</h1>
        <p>{{ album.album_name }}</p>
      </div>
    </div>

    <div class="lyricType">
      <div class="lyricType__item lyricType__item--active">Romanized</div>
      <div class="lyricType__item">Kanji</div>
    </div>

    <div class="LContainer">
      <div class="lyrics">
        <div class="lyrics__listHeader">
          <p class="time">Time</p>
          <p class="romanji">Romanized</p>
          <p class="english" v-if="divShow">English</p>
        </div>

        <div
          v-for="lyric in lyrics"
          :key="lyric.time"
          :class="[
            lyric.isActive
              ? 'lyrics__list lyrics__list--active'
              : 'lyrics__list'
          ]"
        >
          <div class="lyrics__list__time">
            <p>{{ lyric.time }}</p>
          </div>
          <div class="romanji">
            <p v-for="(romanji, index) in lyric.romanji_lines" :key="index">
              {{ romanji.line }}
            </p>
          </div>
          <div class="english" v-if="divShow">
            <p v-for="(english, index1) in lyric.english_lines" :key="index1">
              {{ english.line }}
            </p>
          </div>
        </div>
      </div>

      <div class="stats">
        <div class="stats__album">
          <img class="stats__album__image" src="@/assets/image/Cover.jpg" />
          <div class="stats__album__info">
            <p>Artist: {{ album.artist }}</p>
            <p>Year Released: {{ album.year }}</p>
            <p>Genre: {{ album.genre }}</p>
            <p>Language: {{ album.language }}</p>
            <p>Lyrics by: {{ album.lyric_by }}</p>
            <p>Composed by: {{ album.composed_by }}</p>
          </div>
        </div>

        <div class="stats__share">
          <div class="stats__share__title">
            <p>Share this:</p>
          </div>

          <div class="stats__share__Icon">
            <font-awesome-icon :icon="TwitterIcon" />
          </div>
          <div class="stats__share__Icon">
            <font-awesome-icon :icon="FacebookIcon" />
          </div>
        </div>

        <div class="stats__tracks">
          <p class="stats__tracks__title">Other tracks from this album</p>

          <div class="stats__tracks__container">
            <div
              class="stats__tracks__container__col"
              v-for="column in columns"
              :key="column"
            >
              <div
                class="stats__tracks__container__col__item-container"
                v-for="item in column"
                :key="item"
              >
                {{ item }}
              </div>
            </div>
          </div>
        </div>

        <div class="stats__pv">
          <div class="stats__pv__title">
            <p>Music Video</p>
          </div>

          <div class="stats__pv__video">
            <vue-plyr
              ref="plyr"
              :emit="['timeupdate']"
              @timeupdate="onTimeUpdateListener"
            >
              <div
                data-plyr-provider="youtube"
                :data-plyr-embed-id="videoId"
              ></div>
            </vue-plyr>
          </div>
        </div>
      </div>
    </div>
  </layout-default>
</template>

<script>
import LayoutDefault from "../views/Main.vue";
import { FontAwesomeIcon } from "@fortawesome/vue-fontawesome";
import { faTwitter, faFacebookF } from "@fortawesome/free-brands-svg-icons";
import { store } from "@/statics/data/store.js";

export default {
  name: "Home",
  components: {
    LayoutDefault,
    FontAwesomeIcon
  },

  data: function() {
    return {
      // controls: [
      //   "play",
      //   "progress",
      //   "duration",
      //   "current-time",
      //   "volume",
      //   "mute",
      //   "fullscreen",
      //   "pip"
      // ],

      window: {
        width: 0,
        height: 0
      },
      divShow: true,

      videoId: store.songs[this.$route.params.dataList].videoId,
      musicLink: store.songs[this.$route.params.dataList].musicLink,
      counter: 0,
      url_n: store.songs[this.$route.params.dataList].url_n,

      TwitterIcon: faTwitter,
      FacebookIcon: faFacebookF,

      album: store.songs[this.$route.params.dataList].album,
      lyrics: store.songs[this.$route.params.dataList].lyrics,
      items: store.songs[this.$route.params.dataList].items,

      cols: 2,

      images: [],
      coverImage:
        "https://cdn.pixabay.com/photo/2015/10/12/14/59/milky-way-984050_960_720.jpg"
    };
  },
  methods: {
    isActive(time) {
      if (this.lyrics[this.counter].time == time) {
        if (this.counter > 0) {
          this.lyrics[this.counter - 1].isActive = false;
        }

        this.lyrics[this.counter].isActive = true;
        this.counter++;
      }
    },
    getMinute(time) {
      var m = Math.floor((time % 3600) / 60);
      var s = Math.floor((time % 3600) % 60);

      if (s < 10) {
        s = "0" + s;
      }

      return m + ":" + s + "";
    },
    // eslint-disable-next-line no-unused-vars
    onTimeUpdateListener(event) {
      let time = this.player.currentTime;
      let currentTime = this.getMinute(time);
      this.isActive(currentTime);
      // console.log(currentTime);
    },
    handleResize() {
      this.window.width = window.innerWidth;
      this.window.height = window.innerHeight;

      this.window.width < 640 ? (this.divShow = false) : (this.divShow = true);
    }
  },
  computed: {
    columns() {
      let columns = [];
      let mid = Math.ceil(this.items.length / this.cols);
      for (let col = 0; col < this.cols; col++) {
        columns.push(this.items.slice(col * mid, col * mid + mid));
      }
      return columns;
    },
    player() {
      return this.$refs.plyr.player;
    }
  },

  created() {
    window.addEventListener("resize", this.handleResize);
    this.handleResize();
  },
  destroyed() {
    window.removeEventListener("resize", this.handleResize);
  },
  mounted() {
    console.log(this.player);
  }
};
</script>

<style lang="scss">
.LContainer {
  background: #f7f7f7;
  display: grid;
  grid-template-columns: 1fr 500px;
  grid-template-areas: "lyrics stats";
  padding: 1.9em;
  grid-gap: 1.1em;
  box-shadow: 0px 0px 3px 0px #888888;
}
@media only screen and (max-width: 1200px) {
  .LContainer {
    grid-template-areas:
      "stats stats"
      "lyrics lyrics";
    box-shadow: 0px 0px 3px 0px #888888;
  }
}
.song {
  line-height: 0.7em;
  padding-left: 2.9em;

  h1 {
    font-size: 2.1em;
    font-weight: bold;
  }

  p {
    font-size: 1.4em;
    font-weight: bold;
    color: #b5b5b5;
  }
}

.stats {
  grid-area: stats;

  &__album {
    display: grid;
    grid-template-columns: 180px 3fr;
    grid-gap: 0.8em;
    grid-template-areas: "image info";
    // padding: 0 0.8em;
    margin-top: 1em;

    &__image {
      height: 180px;
      width: 180px;
      grid-area: image;
      // background: blue;
    }

    &__info {
      background: white;
      box-shadow: 1px 1px #888888;
      border-radius: 3px;
      padding: 0 1.8em;
      grid-area: info;
    }
  }

  &__share {
    &__title {
      font-size: 1.7em;
      font-weight: bold;
    }

    &__Icon {
      line-height: 2em;
      font-size: 40px;

      color: #9e9eae;

      width: 20px;
      height: 60px;
      background: white;
      margin: 10px 10px 10px 10px;

      &:hover {
        color: #b91212;
      }
    }
    & > div {
      display: inline-block;
      vertical-align: middle;
      padding: 0 0.8em 0 0.5em;
    }
  }

  &__tracks {
    padding: 0.2em 1em;
    background: white;
    box-shadow: 1px 1px #888888;
    border-radius: 3px;

    &__title {
      padding: 0.2em 0.4em;
    }

    &__container {
      display: flex;
      padding-bottom: 0.6em;

      &__col {
        padding: 0.2em 0.4em;
        flex-grow: 1;
        display: flex;
        flex-direction: column;

        &__item-container {
          font-weight: bold;
        }
      }
    }
  }

  &__pv {
    padding: 0.2em 1em 1.4em 1em;
    background: white;
    box-shadow: 1px 1px #888888;
    border-radius: 3px;
    margin-top: 1em;

    &__title {
      font-weight: bold;
      font-size: 2.2em;
      padding: 0.2em 0.4em;
    }

    &__video {
      padding: 0.2em 1em;
    }
  }
}

.lyrics {
  grid-area: lyrics;

  &__list {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
    grid-template-areas: "time romanji english";
    grid-gap: 0.8em;
    padding: 0 0.4em;
    margin-top: 1em;
    font-size: 1.4em;

    &__time {
      grid-area: time;
      height: 3em;
    }

    &__romanji {
      grid-area: romanji;
    }

    &__english {
      grid-area: english;
    }

    & > div {
      display: inline-block;
      vertical-align: middle;
      background: white;
      box-shadow: 1px 1px #888888;
      border-radius: 3px;
    }

    &--active {
      & > div {
        display: inline-block;
        vertical-align: middle;
        background: #b91212;
      }

      & > p {
        background: #b91212;
      }

      color: white;
    }

    p {
      padding: 0 0.8em;
    }
  }

  &__listHeader {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
    grid-template-areas: "times romanjis englishs";

    grid-gap: 0.8em;
    padding: 0 0.8em;
    font-size: 1.4em;
    font-weight: bold;
    margin: 2em 0 -1.6em 0;

    &__time {
      grid-area: times;
      height: 3em;
    }

    &__romanji {
      grid-area: romanjis;
    }

    &__english {
      grid-area: englishs;
    }

    & > p {
      padding: 0 0.5em;
    }
  }
}

@media only screen and (max-width: 640px) {
  .LContainer {
    padding: 0.2em;
    grid-template-columns: 1fr;
    grid-template-areas:
      "stats"
      "lyrics";
  }

  .stats {
    &__album {
      grid-template-areas:
        "image  "
        "info";
      // grid-template-columns: minmax(250px, 500px);
      grid-template-columns: 1fr;

      grid-gap: 0.8em;
      // padding: 0 0.8em;
      margin-top: 1em;
      justify-items: center;

      &__image {
        height: 180px;
        width: 180px;
      }

      &__info {
        background: white;
        box-shadow: 1px 1px #888888;
        border-radius: 3px;
        padding: 0 1.8em;
        grid-area: info;
      }
    }
  }

  .lyrics {
    grid-area: lyrics;

    &__list {
      grid-template-columns: 1fr 2fr;
      grid-template-areas: "time romanji";
    }

    &__listHeader {
      grid-template-columns: 1fr 2fr;
      grid-template-areas: "times romanjis";
    }
  }
}

.lyricType {
  padding-top: 0.7em;
  padding-left: 1.1em;
  font-size: 1.3em;
  font-weight: bold;
  height: 1.9em;
  background: #ebebeb;

  &__item {
    color: #9e9eae;

    &--active {
      color: black;
    }
  }

  & > div {
    display: inline-block;
    vertical-align: middle;
    padding: 0 1em;
  }
}

a {
  color: black;
}
</style>
