<template>
  <div class="Navbar">
    <nav class="Navbar__Items">
      <div class="Navbar__Link">
        <div class="logo-area">
          <div>
            <router-link class="logo" :to="`/`">
              <font-awesome-icon :icon="MusicIcon" />
            </router-link>
          </div>
          <div class="titleName">
            <h1>Lyrics Source</h1>
            <p>
              English translated and romanized english text for your favourite
              songs
            </p>
          </div>
        </div>
      </div>
    </nav>
    <nav class="Navbar__Items Navbar__Items--right">
      <div class="Navbar__Link">
        <form class="searchbar">
          <label>
            <input
              v-model="tag"
              placeholder="Search for lyrics"
              type="text"
              class="searchbar-input"
            />
          </label>
          <button type="submit" class="btn" @click.prevent="search">
            <font-awesome-icon :icon="searchIcon" />
          </button>
        </form>
      </div>
    </nav>
  </div>
</template>

<script>
import { FontAwesomeIcon } from "@fortawesome/vue-fontawesome";
import { faSearch, faMusic } from "@fortawesome/free-solid-svg-icons";
export default {
  name: "navbar",
  components: {
    // eslint-disable-next-line vue/no-unused-components
    FontAwesomeIcon
  },
  data: function() {
    return {
      windowHeight: 0,
      showTopMenu: false,
      searchIcon: faSearch,
      MusicIcon: faMusic,
      tag: ""
    };
  },
  methods: {
    clickedH() {
      this.showTopMenu = !this.showTopMenu;
    },
    search() {
      this.$router.push({ name: "searchResults", params: { tag: this.tag } });
      this.tag = "";
    }
  }
};
</script>

<style lang="scss" scoped>
.Navbar {
  max-width: 1920px;
  min-width: 400px;
  margin: 0 auto;
  width: 90%;

  padding: 3.7em 0;
  background: #ebebeb;
  display: flex;

  &__Items {
    display: flex;
  }

  &__Link {
    padding: 0 1.8em;
  }

  &__Items--right {
    margin-left: auto;
  }
}

@media only screen and (max-width: 900px) {
  .Navbar {
    display: flex;
    flex-direction: column;

    &__Link {
      padding: 0;
    }
    &__Items {
      display: block;
    }

    &__Items--right {
      margin-top: 3em;
      justify-content: center;
      align-content: center;
      align-items: center;
      margin-right: auto;
    }
  }
}

.logo-area {
  display: grid;
  grid-template-columns: 50px 1fr;
  grid-template-areas: "lyrics stats";
  // padding: 1.5em 0 0 1.2em;
  margin-left: 1rem;
}

.logo {
  line-height: 0.2em;
  font-size: 65px;
  background: #d90000;
  color: #f2ecec;
  padding: 0.22em 0.1em 0 0.16em;
}

.titleName {
  line-height: 0;
  padding-left: 3.2em;

  h1 {
    font-size: 1.9em;
    // line-height: 1.6em;
    font-weight: bold;
  }

  p {
    font-size: 0.9em;
    line-height: 1.2em;
    // color: #b5b5b5;
  }
}

.searchbar {
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}
.searchbar-input {
  padding: 0.5rem 1rem;
  border-radius: 20px;
  font-size: 1rem;
  border: 1px solid #ebebeb;
  min-width: 300px;
}

.btn {
  margin-left: 1rem;
  font-size: 1rem;
  border: none;

  &:hover {
    opacity: 0.6;
  }
}

.header-container {
  max-width: 1920px;
  min-width: 400px;
  margin: 0 auto;
  width: 90%;

  padding-top: 2.7em;
  background: #ebebeb;

  & > div {
    line-height: 25px;
    font-size: 20px;
  }
}

@media only screen and (max-width: 550px) {
  .Navbar {
    width: 100%;
  }

  .header-container {
    width: 100%;
  }
}
</style>
