<template>
  <layout-default>
    <div class="NotFound">
      <p>Page Not Founds</p>
    </div>
  </layout-default>
</template>

<script>
import LayoutDefault from "../views/DefaultLayout.vue";

export default {
  name: "Home",
  components: {
    LayoutDefault
  }
};
</script>

<style>
.paragraph-text {
  font-size: 18px;
}
</style>
