<template>
  <layout-default>
    <div class="Home">
      <div class="wrapper">
        <h1>Results for: "{{ tag }}"</h1>

        <ul v-if="!loading" class="image-card-grid">
          <image-card
            v-for="image in cleanImages"
            :key="image.id"
            :image="image"
          />
        </ul>

        <ul v-else class="image-card-grid">
          <image-card v-for="n in 6" :key="n" :loading="true" />
        </ul>
      </div>
    </div>
  </layout-default>
</template>

<script>
import ImageCard from "@/components/ImageCard";
import LayoutDefault from "../views/DefaultLayout.vue";
import { store } from "@/statics/data/store.js";

export default {
  name: "searchResults",
  props: {
    tag: String
  },

  components: {
    LayoutDefault,
    ImageCard
  },
  data: function() {
    return {
      loading: false,
      images: [],
      coverImage:
        "https://cdn.pixabay.com/photo/2015/10/12/14/59/milky-way-984050_960_720.jpg"
    };
  },

  computed: {
    isTagEmpty() {
      return !this.tag || this.tag.length === 0;
    },

    cleanImages() {
      return this.images.filter((image) => image.url_n);
    }
  },
  methods: {
    search() {
      if (!this.isTagEmpty) {
        this.loading = true;
        this.fetchImages();
        this.loading = false;
      }
    },
    fetchImages() {
      let currentString = String(this.tag);
      let dataArray = [];

      store.songs.forEach(function(i) {
        let currentTitle = i.album.title;
        if (currentTitle.includes(currentString)) {
          dataArray.push(i);
        }
      });

      this.images = dataArray;
    }
  },
  created() {
    this.search();
  },
  watch: {
    // eslint-disable-next-line no-unused-vars
    tag(value) {
      this.search();
    }
  }
};
</script>

<style lang="scss">
.wrapper {
  margin: 0 auto;

  padding: 20px;
  h1 {
    padding-left: 20px;
  }
}

.Home {
  // padding: 20px;
  background: #f7f7f7;
  border: 1px solid #888888;

  margin: 0 auto;
  margin-top: -20px;
  max-width: 1920px;
  min-width: 400px;
}

.image-card-grid {
  list-style: none;
  margin: 0.5rem 0 0 1em;
  padding: 0;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}
</style>
