<template>
  <div id="app">
    <navbar />
    <router-view />
  </div>
</template>

<script>
import navbar from "./components/navbar";

export default {
  components: {
    navbar
  }
};
</script>
<style lang="scss">
#app {
  // margin: auto;
  background: whitesmoke;
  text-align: left;
  color: black;
  // background: white;
}

html {
  font-size: 14px;
  background: whitesmoke;
}

body {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  margin: -10px 0;
}

a {
  text-decoration: none !important;
}

button {
  display: block;
  color: #f2ecec;
  border-radius: 4px;
  border: 0;
  margin-top: 2px;
  font-size: 15px;
  // font-weight: 400;
  height: 31px;
  // line-height: 38px;
  outline: none;
  background: #d90000;
  cursor: pointer;
}
</style>
